/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Rum+Raisin&family=Swanky+and+Moo+Moo&display=swap');
/* Basic general set up */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Declaring some colors and fonts that I am going to use */
:root {
    --clr-1:#fe8f28;
    --clr-2:#fd760fbb;
    --clr-3:#fbae57;
    --clr-4:#33150bd2;
    --clr-5:#9b4e20;
    --clr-6: #f5e0c6;
    --fnt-1:"Rum Raisin";
    --fnt-2:"Swanky and Moo Moo";
    --fnt-3:"Chau Philomene One"
}

/* Styling the body */
body {
    margin: 0;
    font-family: var(--fnt-3), sans-serif;
    background: linear-gradient(
        to right,
        var(--clr-3),
        var(--clr-1)
        ) ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    flex: 1;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    font-weight: bold;
    color: var(--clr-4);
    list-style: none;
    margin-top: 15px;
}

.logo {
    width: 50px;
    height: 50px;
}

.navigation {
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.footer {
    text-align: center;
    font-family: var(--fnt-1, sans-serif);
    color: var(--clr-4);
    font-weight: lighter;
    margin-top: 100px;
}




