/* Styling the product cards */
.card {
    width: 100%;
    min-height: 25rem;
    margin: 60px 10px;
    box-shadow: 2px 2px 10px;
}

/* Styling the image of the cards */
.card-img-top {
    width: 80%;
    height: 350px;
    object-fit: cover;
}

/* Styling the buttonon the cards */
.btn {
    background: linear-gradient(to top, var(--clr-1), var(--clr-6)) !important;
    color: var(--clr-4) !important;
    box-shadow: 1px 1px 40px rgba(0,0,0,0.2);
    border: 1px solid var(--clr-3) !important;
    font-weight: bold !important;
}

/* Styling the hover of the buttons */
.btn:hover {
    opacity: .75;
}